/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font: 16px georgia, serif;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  margin: 1em 0;
}

a {
  color: rgb(0, 119, 202);
}

a:hover {
  color: black;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 40em;
  margin: 0 auto;
  
}

.site img {
	width: 100%;
}

.promo {
}
  .promo a {
    display: block;
    padding: 1em 0;
  }

.title {
  color: #333;
  font-weight: bold;
}

  .title h1 {
    display: inline-block;
  }

  .title a {
    color: #333;
    text-decoration: none;
  }

  .title a:hover {
    color: black;
  }

  .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .title a.extra:hover {
    color: black;
  }

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.contact {
  float: left;
  margin-right: 3em;
}

  .contact a {
    color: #8085C1;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  margin-bottom: 2em;
}

  /* standard */

  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }

  /* terminal */

  .post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.terminal code {
    background-color: #333;
  }

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 1em;
}

.related {
  margin-top: 2em;
}

  .related h2 {
    margin-bottom: 1em;
  }
