---
layout: default
---

<div id="home">
  <h1>About me</h1>
  <p>Student attending <strong>Pomona College</strong>, at the Claremont Colleges, in Greater Los Angeles. Interested in math, economics, social science, entrepreneurship, statistics, and machine learning. You can find me on <strong>Twitter</strong> at <a href="http://twitter.com/michaelmaltese">@michaelmaltese</a>, on <strong>LinkedIn</strong> under <a href="http://www.linkedin.com/profile/view?id=20942520">Michael Maltese</a>, and on <strong>GitHub</strong> as <a href="http://github.com/mikemaltese">mikemaltese</a>. Or, <strong>email</strong> me at <a href="mailto:mike@mikemaltese.com">mike@mikemaltese.com</a>!</p>

  {% for post in site.posts limit: 1 %}
  	<div class="post">
  		<h1><a href="{{post.url}}">{{ post.title }}</a></h1>
  		<p class="meta">{{ post.date | date_to_string }} &ndash; {{ post.meta }}</p>

  		{{ post.content }}
  	</div>
  {% endfor %}

  <h1>Blog posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>