* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font: 18px georgia, serif;
  line-height: 31px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}

.site-title h1 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

img {
  width: 100%;
}

.site-promo, .site-title, .site-main {
  width: 650px;
  margin: 0 auto;
}

.site-promo {
  margin-bottom: 1em;
}

.site-title {
  overflow: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.site-title a {
  color: #333;
  text-decoration: none;
}

.site-title li {
  list-style: none;
  float: left;
  font-size: 16px;
  line-height: 25px;
  margin-right: 20px;
  font-family: Arial, sans-serif;
}
.site-title nav a {
  color: #999;
}

article {
  margin-top: 1em;
}

article h1 {
  font-size: 30px;
  line-height: 45px;
  border-bottom: 1px solid #eee;
  text-transform: lowercase;
}


p {
  margin: 1em 0;
}

a {
  color: rgb(0, 119, 202);
}

a:hover {
  color: black;
}

