@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700);
.subheader {
  color: #c4d3db;
  margin-top: -1.2em;
  font-size: 1.2em;
  font-family: Open Sans; }
  .subheader a, .subheader a:visited {
    color: #c4d3db; }

body h1 {
  font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
  color: #3a4145;
  font-size: 2.75em;
  margin: 1em auto 0.75em;
  text-align: left; }

body {
  font-family: Georgia, Times, serif;
  line-height: 1.5em;
  width: 700px;
  font-size: 20px;
  margin: 0 auto; }

p {
  margin-bottom: 1em; }

a, a:visited {
  color: #0066cc; }

.things {
  padding-left: 0;
  list-style: none; }

.timestamp {
  font-variant: small-caps;
  font-family: sans-serif;
  color: #aaaaaa; }
  .timestamp:after {
    font-family: Lora;
    content: " »"; }

.contactinfo {
  overflow: auto;
  width: 100%; }
  .contactinfo div {
    float: left; }
