<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Michael Maltese</title>
   <meta name="author" content="Michael Maltese" />

   <!-- because this is assumed in the link to the project -->
   <!-- what does this comment mean?? -->
   <link rel="me" href="https://github.com/michaelmaltese" />
   <link rel="stylesheet" href="main.css" />

   <!-- Google Analytics -->
   <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20212552-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="{{ page.tags }}">

{{ content }}

</body>
</html>
